In [1]:
import pandas as pd

In [2]:
restaurant_details = pd.read_csv('Table_2_Final.csv')
restaurant_info = pd.read_csv('Table_1_Final.csv')

In [3]:
restaurant_details.head()

,restaurant_name,location,Latitude,Longitude,Review
0,Ovenstory Pizza,"541, 1st Floor, Binnamangla, CMH Road, Mahadev...",12.978170,77.638320,5111
1,Empire Restaurant,"35, Castle Street, Brigade Road, Bangalore",12.967272,77.608976,3587
2,Leon's Burgers & Wings,"90, Coles Road, Opposite Reliance Fresh, Pulke...",12.997726,77.610958,18
3,Truffles,"Vasavi Complex, St. Marks Road, Bangalore",12.971928,77.601063,1960
4,Domino's Pizza,"308, 2nd Stage, 100 Feet Road, Indiranagar, Ba...",12.980872,77.640593,419

In [4]:
restaurant_info.head()

,id,hotel,link,cusine,rating,price_for_one
0,1,Ovenstory Pizza,https://www.zomato.com/bangalore/ovenstory-piz...,"Pizza, Fast Food",4.3,₹300 for one
1,2,Empire Restaurant,https://www.zomato.com/bangalore/empire-restau...,"North Indian, Biryani, Kebab, Chinese, South I...",4.0,₹300 for one
2,3,Leon's Burgers & Wings,https://www.zomato.com/bangalore/leons-burgers...,"Burger, Fast Food, Wraps, Street Food, Dessert...",4.3,₹300 for one
3,4,Truffles,https://www.zomato.com/bangalore/truffles-2-st...,"Burger, American, Bakery, Italian, Oriental, C...",4.4,₹300 for one
4,5,Domino's Pizza,https://www.zomato.com/bangalore/dominos-pizza...,"Pizza, Fast Food, Desserts, Beverages",4.1,₹300 for one

In [5]:
restaurant_data = restaurant_details.merge(restaurant_info,left_index=True,right_index=True)

In [6]:
restaurant_data.head()

,restaurant_name,location,Latitude,Longitude,Review,id,hotel,link,cusine,rating,price_for_one
0,Ovenstory Pizza,"541, 1st Floor, Binnamangla, CMH Road, Mahadev...",12.978170,77.638320,5111,1,Ovenstory Pizza,https://www.zomato.com/bangalore/ovenstory-piz...,"Pizza, Fast Food",4.3,₹300 for one
1,Empire Restaurant,"35, Castle Street, Brigade Road, Bangalore",12.967272,77.608976,3587,2,Empire Restaurant,https://www.zomato.com/bangalore/empire-restau...,"North Indian, Biryani, Kebab, Chinese, South I...",4.0,₹300 for one
2,Leon's Burgers & Wings,"90, Coles Road, Opposite Reliance Fresh, Pulke...",12.997726,77.610958,18,3,Leon's Burgers & Wings,https://www.zomato.com/bangalore/leons-burgers...,"Burger, Fast Food, Wraps, Street Food, Dessert...",4.3,₹300 for one
3,Truffles,"Vasavi Complex, St. Marks Road, Bangalore",12.971928,77.601063,1960,4,Truffles,https://www.zomato.com/bangalore/truffles-2-st...,"Burger, American, Bakery, Italian, Oriental, C...",4.4,₹300 for one
4,Domino's Pizza,"308, 2nd Stage, 100 Feet Road, Indiranagar, Ba...",12.980872,77.640593,419,5,Domino's Pizza,https://www.zomato.com/bangalore/dominos-pizza...,"Pizza, Fast Food, Desserts, Beverages",4.1,₹300 for one

In [7]:
restaurant_data.drop(["Latitude","Longitude","id","hotel","link"],axis=1,inplace=True)

In [8]:
restaurant_data

,restaurant_name,location,Review,cusine,rating,price_for_one
0,Ovenstory Pizza,"541, 1st Floor, Binnamangla, CMH Road, Mahadev...",5111,"Pizza, Fast Food",4.3,₹300 for one
1,Empire Restaurant,"35, Castle Street, Brigade Road, Bangalore",3587,"North Indian, Biryani, Kebab, Chinese, South I...",4.0,₹300 for one
2,Leon's Burgers & Wings,"90, Coles Road, Opposite Reliance Fresh, Pulke...",18,"Burger, Fast Food, Wraps, Street Food, Dessert...",4.3,₹300 for one
3,Truffles,"Vasavi Complex, St. Marks Road, Bangalore",1960,"Burger, American, Bakery, Italian, Oriental, C...",4.4,₹300 for one
4,Domino's Pizza,"308, 2nd Stage, 100 Feet Road, Indiranagar, Ba...",419,"Pizza, Fast Food, Desserts, Beverages",4.1,₹300 for one
...,...,...,...,...,...,...
2168,Udupi Grand Veg,"31/1, Ground Floor, Opposite Shanishwara Templ...",7,"South Indian, Chinese, North Indian, Street Fo...",3.6,₹200 for one
2169,Village Donne Biryani,"Shop 93, KHB Colony, 17th H Main Road, Koraman...",55,"Biryani, South Indian",3.7,₹200 for one
2170,Rara's Food Point,"9/1, Ground Floor, 5th Cross, SG Palya, Thavar...",27,"South Indian, Chinese, North Indian, Arabian",3.6,₹200 for one
2171,Via Milano,"8, 4th Floor, 80 Feet Road, Koramangala 4th Bl...",1790,"Italian, Pizza, Continental, Pasta, Desserts, ...",3.8,₹200 for one
2172,Karam Dosa,"37 Survey 54, Choodasandra, Opposite Ksrp Camp...",250,"South Indian, Chinese",3.9,₹200 for one

In [9]:
def price(x):
    return int(x.split()[0][1:])

def place(x):
    return x.split(',')[-2].lower().strip()

def cus(x):
    return x.lower().strip()

In [10]:
restaurant_data['Location'] = restaurant_data['location'].apply(lambda x : place(x))
restaurant_data['price'] = restaurant_data['price_for_one'].apply(lambda x : price(x))

In [25]:
restaurant_data.rename(columns={"Location":"place"},inplace=True)

In [26]:
restaurant_data

,restaurant_name,Review,cusine,rating,place,price
0,Ovenstory Pizza,5111,"Pizza, Fast Food",4.3,indiranagar,300
1,Empire Restaurant,3587,"North Indian, Biryani, Kebab, Chinese, South I...",4.0,brigade road,300
2,Leon's Burgers & Wings,18,"Burger, Fast Food, Wraps, Street Food, Dessert...",4.3,frazer town,300
3,Truffles,1960,"Burger, American, Bakery, Italian, Oriental, C...",4.4,st. marks road,300
4,Domino's Pizza,419,"Pizza, Fast Food, Desserts, Beverages",4.1,indiranagar,300
...,...,...,...,...,...,...
2168,Udupi Grand Veg,7,"South Indian, Chinese, North Indian, Street Fo...",3.6,bommanahalli,200
2169,Village Donne Biryani,55,"Biryani, South Indian",3.7,koramangala 5th block,200
2170,Rara's Food Point,27,"South Indian, Chinese, North Indian, Arabian",3.6,btm,200
2171,Via Milano,1790,"Italian, Pizza, Continental, Pasta, Desserts, ...",3.8,koramangala 4th block,200
2172,Karam Dosa,250,"South Indian, Chinese",3.9,sarjapur road,200

In [29]:
restaurant_data.to_csv("Merged_data.csv",index=False)

In [30]:
normal_data = pd.read_csv("Merged_data.csv")

In [31]:
normal_data.head()

,restaurant_name,Review,cusine,rating,place,price
0,Ovenstory Pizza,5111,"Pizza, Fast Food",4.3,indiranagar,300
1,Empire Restaurant,3587,"North Indian, Biryani, Kebab, Chinese, South I...",4.0,brigade road,300
2,Leon's Burgers & Wings,18,"Burger, Fast Food, Wraps, Street Food, Dessert...",4.3,frazer town,300
3,Truffles,1960,"Burger, American, Bakery, Italian, Oriental, C...",4.4,st. marks road,300
4,Domino's Pizza,419,"Pizza, Fast Food, Desserts, Beverages",4.1,indiranagar,300

In [32]:
normal_data.dtypes

restaurant_name    object
Review              int64
cusine             object
rating             object
place              object
price               int64
dtype: object

In [33]:
normal_data["cusine"] = normal_data["cusine"].str.split(",")

In [34]:
normal_data

,restaurant_name,Review,cusine,rating,place,price
0,Ovenstory Pizza,5111,"[Pizza, Fast Food]",4.3,indiranagar,300
1,Empire Restaurant,3587,"[North Indian, Biryani, Kebab, Chinese, So...",4.0,brigade road,300
2,Leon's Burgers & Wings,18,"[Burger, Fast Food, Wraps, Street Food, De...",4.3,frazer town,300
3,Truffles,1960,"[Burger, American, Bakery, Italian, Orient...",4.4,st. marks road,300
4,Domino's Pizza,419,"[Pizza, Fast Food, Desserts, Beverages]",4.1,indiranagar,300
...,...,...,...,...,...,...
2168,Udupi Grand Veg,7,"[South Indian, Chinese, North Indian, Stree...",3.6,bommanahalli,200
2169,Village Donne Biryani,55,"[Biryani, South Indian]",3.7,koramangala 5th block,200
2170,Rara's Food Point,27,"[South Indian, Chinese, North Indian, Arabian]",3.6,btm,200
2171,Via Milano,1790,"[Italian, Pizza, Continental, Pasta, Desse...",3.8,koramangala 4th block,200
2172,Karam Dosa,250,"[South Indian, Chinese]",3.9,sarjapur road,200

In [35]:
normal_data = normal_data.explode(["cusine"])

In [36]:
normal_data

,restaurant_name,Review,cusine,rating,place,price
0,Ovenstory Pizza,5111,Pizza,4.3,indiranagar,300
0,Ovenstory Pizza,5111,Fast Food,4.3,indiranagar,300
1,Empire Restaurant,3587,North Indian,4.0,brigade road,300
1,Empire Restaurant,3587,Biryani,4.0,brigade road,300
1,Empire Restaurant,3587,Kebab,4.0,brigade road,300
...,...,...,...,...,...,...
2171,Via Milano,1790,Pasta,3.8,koramangala 4th block,200
2171,Via Milano,1790,Desserts,3.8,koramangala 4th block,200
2171,Via Milano,1790,Beverages,3.8,koramangala 4th block,200
2172,Karam Dosa,250,South Indian,3.9,sarjapur road,200
2172,Karam Dosa,250,Chinese,3.9,sarjapur road,200

In [37]:
normal_data.dtypes

restaurant_name    object
Review              int64
cusine             object
rating             object
place              object
price               int64
dtype: object

In [38]:
normal_data['cusine'] = normal_data['cusine'].astype(str).apply(lambda x : cus(x))

In [39]:
normal_data.to_csv('normal_data.csv',index=False)